/*Dashboard Css */
.page-container {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  overflow: hidden;   /* THIS is important */
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 290px 1fr;
  min-height: 100vh;
  height: auto;
  background-color: #F4F7FE;
}
::placeholder{
    font-family: "DM Sans";
    font-weight: 400;
}
.dashboard-main {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;               /* Figma row height */
  margin-bottom: 32px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting {
  color: #8F9BBA;
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}

.dashboard-header h2 {
  color: #2B3674;
  font-size: 28px;
  margin: 4px 0 0 0;
  font-family: "DM Sans";
  font-weight: 700;
}

/* SEARCH */
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 341px;
  height: 46px;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  opacity: 0.5;
}

.search-input {
  width: 100%;
  height: 44px;
  padding-left: 42px;
  padding-right: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.04);
}

/* GRID */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 20px;
  row-gap: 20px;
}

/* Generic card look */
.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
}

/* First row (stats) */
.stat-card {
  grid-column: span 3;
}

/* Second row */
.chart-card {
  grid-column: span 8;
}

.profile-card {
  grid-column: span 4;
}

/* Third row */
.monthly-card,
.transactions-card,
.schedule-card {
  grid-column: span 4;
}









/* ========== TABLET ========== */
@media (max-width: 1024px) {
  .stat-card { 
    grid-column: span 6;   /* 2 per row */
  }

  .chart-card { 
    grid-column: span 12; 
  }

  .profile-card { 
    grid-column: span 12; 
  }

  .monthly-card,
  .transactions-card,
  .schedule-card { 
    grid-column: span 12; 
  }
}

/* ========== MOBILE ========== */
@media (max-width: 640px) {
  .dashboard-main {
    padding: 16px;
  }

  .stat-card,
  .chart-card,
  .profile-card,
  .monthly-card,
  .transactions-card,
  .schedule-card {
    grid-column: span 12;   /* full width */
  }

  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .search-box {
    width: 100%;
  }
}
