.page-container {
  
  border-radius: 16px;
  
  overflow: hidden;  
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 290px 1fr;
  min-height: 100vh;
  height: auto;
  background-color: #F4F7FE;
}
::placeholder{
    font-family: "DM Sans";
    font-weight: 400;
}
.dashboard-main {
  padding: 32px;
  display: flex;
  flex-direction: column;
}


.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;               
  margin-bottom: 32px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-text h2{
    font-weight: 700;
    size: 34px;
    color: #2B3674;
    max-width: 100%;
    height: auto;
}


.greeting {
  color: #8F9BBA;
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}

.dashboard-header h2 {
  color: #2B3674;
  font-size: 28px;
  margin: 4px 0 0 0;
  font-family: "DM Sans";
  font-weight: 700;
}


.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 341px;
  height: 46px;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  opacity: 0.5;
}

.search-input {
  width: 100%;
  height: 44px;
  padding-left: 42px;
  padding-right: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.04);
}


.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 20px;
  row-gap: 20px;
  min-width: 0;
}


.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
}


.stat-card {
  grid-column: span 3;
}


.chart-card {
  grid-column: span 8;
}

.profile-card {
  grid-column: span 4;
}


.monthly-card,
.transactions-card,
.schedule-card {
  grid-column: span 4;
}










@media (max-width: 1200px) {
  .stat-card { 
    grid-column: span 6;   
  }

  .chart-card { 
    grid-column: span 12; 
  }

  .profile-card { 
    grid-column: span 12; 
  }

  .monthly-card,
  .transactions-card,
  .schedule-card { 
    grid-column: span 12; 
  }
}


@media (max-width: 840px) {
  .dashboard-main {
    padding: 16px;
  }

  .stat-card,
  .chart-card,
  .profile-card,
  .monthly-card,
  .transactions-card,
  .schedule-card {
    grid-column: span 12;   /* full width */
  }

  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .search-box {
    width: 100%;
  }
}




@media (max-width: 900px) {
    .page-container {
    grid-template-columns: 80px 1fr;  /* collapse sidebar */
  }

  .sidebar-container {
    width: 80px;
  }
  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 16px;
  }

  .search-box {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }
}




