.sidebar-container {
  min-height: 100vh;
  width: 290px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;   
  
}


.sidebar-heading {
  display: flex;
  align-items: center;  
  margin-top: 47px;
  margin-left: 38px;
  margin-right: 109px;
  gap: 12px;       
     
}

.heading-texts {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin: 0;              
}

.venus-text {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 26px;        
  line-height: 100%;
  margin: 0;
  color: #4318FF;
}

.dashboard-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #4318FF;
}
.sidebar-divider{
    width: 290px;
    height: 1px;
    background-color: #F4F7FE;
    margin-top: 24px;
    margin-bottom: 21px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;   /* stack items top to bottom */
  margin-top: 24px;         /* space after the divider */
  gap: 8px;                 /* space between each menu item */
  height: 405px;
  margin: 0 38px;

}

.menu-item {
  display: flex;
  align-items: center;     /* icon and text aligned vertically */
  gap: 12px;               /* space between icon and text */
  padding: 10px 20px;
  text-decoration: none;
  color: #6B7280;          /* grey text like Figma */
  border-radius: 8px;
  font-size: 14px;
  margin: 0 38px;
 
 
}

.menu-item:hover {
  background-color: #F4F7FE;
}

.menu-item.active {
  background-color: #4318FF;   /* active page highlight */
  color:  #F4F7FE;              /* purple text */
  
}

.menu-icon{
    width: 24px;
    height: 24px;
}
.menu-item span{
    font-family: "DM Sans";
    font-weight: 500;
    size: 16px;
    line-height: 28px;
    letter-spacing: -2%;
}
.logout-menu{
    margin-top: 50px;
    margin-bottom: 50px;
}