.sidebar-container {
  min-height: 100vh;
  width: 290px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;   
  position: sticky;
  top: 0;
  overflow: hidden; 
  top: 0;
  left: 0;
  z-index: 100;
}



.sidebar-heading {
  display: flex;
  align-items: center;  
  margin-top: 47px;
  margin-left: 38px;
  margin-right: 109px;
  gap: 12px;       
     
}

.heading-texts {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin: 0;              
}

.heirs-text {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 26px;        
  line-height: 100%;
  margin: 0;
  color: #4318FF;
}

.invoicing-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #4318FF;
}
.sidebar-divider{
    width: 290px;
    height: 1px;
    background-color: #F4F7FE;
    margin-top: 24px;
    margin-bottom: 21px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;   
  margin-top: 24px;         
  gap: 8px;                
  height: 405px;
  margin: 0 38px;

}

.menu-item {
  display: flex;
  align-items: center;     
  gap: 12px;               
  padding: 10px 20px;
  text-decoration: none;
  color: #6B7280;          
  border-radius: 8px;
  font-size: 14px;
  margin: 0 38px;
 
 
}

.menu-item:hover {
  background-color: #F4F7FE;
}

.menu-item.active {
  background-color: #4318FF;   
  color:  #F4F7FE;              
  
}
.dash{
    color: #A3AED0;
}
.menu-icon{
    width: 24px;
    height: 24px;
}
.menu-item span{
    font-family: "DM Sans";
    font-weight: 500;
    size: 16px;
    line-height: 28px;
    letter-spacing: -2%;
}
.logout-menu{
    margin-top: 150px;
    margin-bottom: 0;
}




/* Collapse sidebar on smaller screens */
@media (max-width: 900px) {
  .sidebar-container {
    width: 90px;
  }


  .heading-texts{
    display: none;
  }


  .menu-item {
    justify-content: center;
    padding: 12px 0;
  }

  .sidebar-heading {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .sidebar-list {
    margin: 0;
    align-items: center;
  }

  .sidebar-divider {
    width: 100%;
  }
  .menu-item.active {
  border-radius: 5px;
  padding: 5px;
  
}


}
@media (max-width: 900px) {
  .sidebar-container {
    width: 72px;
  }

  .menu-item span {
    position: absolute;
    left: 70px;
    background: #2B3674;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-item {
    position: relative;
    justify-content: center;
  }

  .menu-item:hover span {
    opacity: 1;
    visibility: visible;
  }
}
