
.stat-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 16px;
  height: 97px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  
}

.stat-left img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}


.stat-center {
  flex: 1;
  margin-left: 14px;
}

.stat-title {
  font-size: 14px;
  color: #A3AED0;
  margin: 0 0 6px 0;
}

.stat-value {
  font-size: 22px;
  font-weight: 700;
  color: #2B3674;
  margin: 0;
}


.stat-icon-right {
  object-fit: contain;
}


.active-card {
  background: linear-gradient(135deg, #6A5AF9, #4B3CFA);
}

.active-card .stat-title,
.active-card .stat-value {
  color: #ffffff;
}






/* New Clients wave */
.stat-icon-right.clientsTrend {
  width: 58.5px;
  height: 28.5px;
  opacity: 0.8;
}

/* Activity wave */
.stat-icon-right.activityTrend {
  width: 87.5px;
  height: 39.5px;
  opacity: 0.9;
}
