
.page-container {
  display: grid;
  grid-template-columns: 290px 1fr; 
   min-height: 100vh;
  min-width: 100vw;
  display: flex;
  overflow: hidden; 
  background: #F4F7FE;
}

.main-content {
  height: 100vh;
  overflow-y: auto;  
  overflow-x: hidden;
  padding: 32px;
}

@media (max-width: 900px) {
  .page-container {
    grid-template-columns: 90px 1fr;
  }
}
.sidebar-container {
  transition: width 0.3s ease;
  width: 80px;
}
